.services {
  background-color: var(--color-bg);
  margin: 0 auto;
  padding: 3rem 1rem;
  color: #222;
}

.service-item {
  box-shadow: 0 10px 10px var(--color-shadow-light);
  display: flex;
  align-items: center;
  margin: 0 auto 4rem auto; /* Center and add vertical spacing */
  gap: 2rem;
  padding: 4rem;
  background-color: var(--color-bg);
  border:1px solid var(--color-accent);
  border-radius: 5px;
  min-height: 15vh;
  max-width: 1500px; /* Use a fixed max width instead of vw */
  width: 100%; /* Allow it to shrink on smaller screens */
  box-sizing: border-box; /* Ensures padding doesn't overflow */
}

h1 {
  color: var(--color-accent);
  font-size: 2.5rem;
  font-family: var(--main-font), sans-serif;
  padding-bottom: 1rem;
}

/* not sure if there should be a reverse class */

/* .service-item.reverse {
  flex-direction: row-reverse;
}

.service-item.reverse .service-text {
  text-align: right;
} */

.service-icon svg {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
}

.service-text {
  text-align: left;
  max-width: 50%;
}

.service-text h3 {
  margin: 0;
  font-size: 2rem;
  color: var(--color-accent);
  font-weight: 700;
  font-family: var(--main-font), sans-serif;
}

.service-text h4 {
  margin: 0.25rem 0 1rem 0;
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--color-accent);
  font-family: var(--secondary-font), sans-serif;
}

.service-text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .service-item,
  .service-item.reverse {
    flex-direction: column;
    text-align: center;
  }

  .service-item.reverse {
    flex-direction: column;
  }

  .service-text {
    max-width: 100%;
  }
}
